/* Estilos del background de Inicio */
.InicioBackground {
  height: 100vh;
  background: linear-gradient(to bottom right, #00e1ff, #ff3dfc, #9d00ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
  font-family: 'Monaco', monospace;
  font-size: 24px; /* Tamaño del texto */
  font-weight: bold;
}

/* Estilos del contenido inicial de Inicio */
.InicioContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos de la imagen */
.InicioImageContainer {
  margin-top: 50px; /* Espacio entre la imagen y el texto */
}

.InicioImage {
  width: 300px; /* Tamaño de la imagen */
}

/* Estilos del texto y botón */
.InicioTextContainer {
  margin-top: 20px; /* Espacio entre el texto y el botón */
}

.InicioStartButton {
  background-color: #fe9900;
  color: #333;
  font-size: 18px; /* Tamaño del texto */
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra al botón */
  transition: box-shadow 0.3s ease; 

  &:hover {
    background-color: #fe9900;
    transform: scale(1.5);
    box-shadow: 0px 6px 15px #5de0f0;
  }
}
