.masInfoContainer {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 7rem;
}

.titleLine {
  height: 4rem;
  width: 5px;
  background-color: hotpink;
  margin-right: 1rem;
}

.titleText {
  font-family: 'Roboto', sans-serif;
  font-size: 2.3vw;
}

.masInfoLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  margin: 0 10px;
}

.emailText {
  margin-top: 10px;
}