/* App.scss */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  height: 100vh; /* Ocupar toda la altura de la pantalla */
}

/* Estilos del menú */
nav {
  background-color: black;
  width: 230px; /* Ancho del menú */
  padding-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 20px;
  cursor: pointer;
  color: hotpink; /* Color del texto en rosa neon */
  font-weight: bold; /* Hace que el texto esté en negrita */
  transition: color 0.3s ease; /* Transición suave al cambiar de color */
}

li:hover {
  color: pink; /* Cambio de color al pasar el ratón por encima */
}

/* Estilos para el contenido */
.content {
  flex: 1;
  padding: 50px;
}

/* Estilos generales para el menú y la imagen */
.menu {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.menu-header {
  margin-bottom: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* Media query para ajustar la imagen en pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .profile-image {
    width: 100px;
    height: 100px;
  }
}
